## print (출력)

- 첫 단원에서는 **기본 print() 의 출력**만 배웁니다.
- 향후 실습 진행을 위한 정도만 배우고, 나중에 문자열 포맷팅에서 더 자세히 다룹니다.

In [84]:
print('오늘 파이썬 배우기 좋은 날이네!')

오늘 파이썬 배우기 좋은 날이네!

**Jupyter Notebook** 셀에서 맨 끝에 위치한 변수, 문자열, 숫자등은 자동으로 출력합니다.

3.14, '안녕', 100 이렇게 3개의 값이 있지만, 항상 가장 마지막만 출력됩니다.`ㅡ

In [85]:
3.14
'안녕'
100

100

## 변수 (Variable)

변수는 **데이터를 담는 그릇**이라고 생각하시면 됩니다.

변수라는 그릇에 정수를 담을 수도 있고, 긴 글을 담을 수도 있고, file을 담을 수도 있습니다. 우리가 재사용 하기 쉽게 **별명**을 지정해 줬다라고 쉽게 생각하시기 바랍니다.

### 변수의 이름 규칙 (Rule)

다음의 **문자만 사용**할 수 있습니다.
- 소문자(a~z)
- 대문자(A~Z)
- 숫자(0~9)
- 한글도 가능
- 특수기호는 언더바(_) 만 허용

다음의 **규칙**을 가집니다.
- 대소 문자를 구분합니다.
- 숫자는 맨 처음에 올 수 없습니다. 
- 예약어(keyword)는 사용할 수 없습니다. (def, if, del, import, return 등등)

case 1. 알파벳 (가능) / 대소문자 모두 가능 /심지어 **한글도 가능하나 사용하는 것은 비추**!

In [86]:
a = 1

In [87]:
A = 1

In [88]:
변수 = 1

In [89]:
변수

1

case 2. 알파벳 + 숫자 (가능)

In [90]:
a1 = 1

case 3. 알파벳 + 언더바(_) (가능)

In [91]:
a_ = 1

case 4. 언더바(_) + 알파벳 (가능))

In [92]:
_a = 1

case 5. 숫자 + 알파벳 (불가능)

In [93]:
1a = 1

SyntaxError: invalid syntax (1364191551.py, line 1)

case 6. 특수문자 (불가능)

In [94]:
* = 7

SyntaxError: invalid syntax (1040641717.py, line 1)

case 7. 언더바를 제외한 특수문자 (불가능)

In [95]:
a$ = 6

SyntaxError: invalid syntax (158779158.py, line 1)

case 8. 변수의 이름 사이의 공백 (불가능)

In [96]:
a b = 6

SyntaxError: invalid syntax (3277752647.py, line 1)

주로 변수는 **소문자 알파벳으로 생성**하고, 필요시 **언더바**나 **숫자를 붙히는 방식**이 일반적입니다.

In [97]:
test = 10

In [98]:
test01 = 20

In [99]:
test_01 = 30

## 데이터 타입 (Data Type)

자료형태(자료형), 자료구조라고도 불리웁니다.

**주요 데이터 타입(type)**

1. `int` (정수): Integer(정수)의 약어이며, 정수를 나타내는 자료형입니다.
2. `float` (실수): Floating point의 약어이며, 소수점이 있는 숫자를 나타내는 자료형입니다.
3. `str` (문자열): 문자를 나타내는 자료형입니다. 작은 따옴표 혹은 큰 따옴표로 감싸져 있습니다.
4. `bool` (참/거짓): 참 또는 거짓을 나타내는 자료형입니다. True, False에서 T와 F는 반드시 대문자로 표기해야 합니다.

### type()

type 함수를 활용하여 데이터의 타입을 알아 볼 수 있습니다.

In [100]:
# int: 정수
type(1)

int

In [101]:
# float: 실수
type(3.14)

float

In [102]:
# 문자열
type("안녕")

str

In [103]:
# bool
type(True)

bool

## 타입 변환

In [104]:
# int -> float
float(1)

1.0

In [105]:
# float -> int
int(3.141592)

3

In [106]:
# str -> bool
bool("True")

True

In [107]:
# str -> int
int("1234")

1234

In [108]:
# bool -> int
int(True)

1

In [109]:
# bool -> int
int(False)

0

In [110]:
# float -> bool
bool(3.0)

True