# 시퀀스, 집합형 자료구조

| 분류             | 타입                 | 특징                                   | 예시                     |
| ---------------- | -------------------- | -------------------------------------- | ------------------------ |
| 시퀀스(sequence) | 리스트(list)         | 순서가 있고, 가변(mutable)             | [1, 2, 3]                |
| 시퀀스(sequence) | 튜플(tuple)          | 순서가 있고, 불변(immutable)           | (1, 2, 3)                |
| 세트(set)        | 세트(set)            | 순서가 없고, 중복을 허용하지 않음      | {1, 2, 3}                |
| 맵(map)          | 딕셔너리(dictionary) | 순서가 없고, key/value 쌍으로 이루어짐 | {'a': 1, 'b': 2, 'c': 3} |

## 세트(set)

- 세트는 순서가 보장 되지 않습니다.
- 세트는 요소의 **중복을 허용하지 않습니다.**
- 세트는 `{}`를 활용하여 생성할 수 있습니다.

### 생성

In [1]:
myset = set()
myset

set()

In [4]:
myset = {1, 1, 1, 2, 2, 2, 3, 3, 3}
myset

{1, 2, 3}

### add() : 값 추가

- set에 요소를 추가합니다.

빈 set를 생성합니다.

In [5]:
myset = set()

add() 로 요소를 추가합니다.

In [6]:
myset.add(1)
myset.add(2)
myset.add(3)

myset.add(1)
myset.add(2)
myset.add(3)

myset.add(1)
myset.add(2)
myset.add(3)

요소를 중복하여 추가하였지만, 중복을 허용하지 않는 set의 특성상 {1, 2, 3} 으로 **중복이 제거된 요소만 출력**됩니다.

In [7]:
myset

{1, 2, 3}

### update() : 여러개 값 추가

- 여러개의 값을 한꺼번에 추가하고자 할 때는 update() 메서드를 사용합니다.

In [8]:
myset = {1, 2, 3}

list의 요소들을 **한꺼번에 update**

In [9]:
myset.update([4, 5, 6])
myset

{1, 2, 3, 4, 5, 6}

tuple의 요소들을 **한꺼번에 update**

In [10]:
myset.update((7, 8, 9))
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

set의 요소들을 **한꺼번에 update**

In [11]:
myset.update({10, 11, 12})
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

### remove() : 값 제거

- 단일 요소를 제거합니다.

In [12]:
myset = {1, 2, 3, 4, 5}

In [13]:
myset.remove(2)
myset

{1, 3, 4, 5}

### 교집합 (intersection)

- 교집합은 집합 A와 B가 주어졌을 때 **공통된 요소**를 말합니다.
- `&` 기호나 `intersection()` 메서드를 활용하여 교집합을 구할 수 있습니다.

In [14]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

In [15]:
a & b

{3, 4, 5}

In [16]:
a.intersection(b)

{3, 4, 5}

### 합집합 (union)

- 합집합은 집합 A와 B가 주어졌을 때 집합 A, B 요소 모두를 포함하는 것을 말합니다.
- `|`기호나 `union()` 메서드를 활용하여 합집합을 구할 수 있습니다.

In [17]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

In [18]:
a | b

{1, 2, 3, 4, 5, 6, 7}

In [19]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

### 차집합 (difference)

- 두 집합에서, 하나의 집합에 포함되고 다른 집합에는 포함되지 않는 모든 원소의 집합.
- `-`연산자를 활용하거나 `difference()` 메서드를 활용하여 구할 수 있습니다.

In [20]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

a 집합에서 b 집합을 뺀 차집합

In [21]:
a - b

{1, 2}

b 집합에서 a 집합을 뺀 차집합

In [23]:
b - a

{6, 7}

### 집합의 타입 변환

### set를 list로 변환

In [25]:
a = {1, 2, 3, 4, 5}

In [26]:
type(a)

set

In [27]:
b = list(a)

In [28]:
b

[1, 2, 3, 4, 5]

In [29]:
type(b)

list

### list를 set로 변환

- 중복을 제거할 때 많이 활용합니다.

In [30]:
a = [1, 1, 1, 2, 2, 2, 3, 3, 3]

In [31]:
a

[1, 1, 1, 2, 2, 2, 3, 3, 3]

In [32]:
type(a)

list

In [33]:
b = set(a)

In [34]:
b

{1, 2, 3}

In [35]:
type(b)

set

b를 다시 list 자료형으로 변환

In [36]:
b = list(b)
b

[1, 2, 3]

## 딕셔너리(dictionary)

- 순서를 가지지 않습니다.
- 키(key)와 값(value)의 쌍으로 이루어져 있습니다.
- type은 `dict`로 표시 됩니다.
- key를 사용하여 값을 조회할 수 있습니다.
- 딕셔너리는 **수정, 삭제, 추가가 가능**합니다.

### 생성

In [45]:
mydict = dict()
print(type(mydict))
mydict

<class 'dict'>

{}

In [46]:
mydict = {'a': 1, 'b': 2, 'c': 3}
print(type(mydict))
mydict

<class 'dict'>

{'a': 1, 'b': 2, 'c': 3}

딕셔너리는 여러 타입의 key를 가질 수 있습니다.

In [47]:
mydict = {'a': 1, '가':2, 100: 3, 3.14: 4, True: 5}
mydict

{'a': 1, '가': 2, 100: 3, 3.14: 4, True: 5}

### 값 조회

- key 값으로 값을 조회할 수 있습니다.

In [48]:
mydict = {'a': 1, '가':2, 100: 3, 3.14: 4, True: 5}
mydict

{'a': 1, '가': 2, 100: 3, 3.14: 4, True: 5}

key를 지정하여 값을 조회할 수 있습니다.

In [49]:
mydict['a']

1

key가 없는 경우 Error가 발생합니다.

In [50]:
mydict['b']

KeyError: 'b'

### keys() : 모든 key 조회

In [53]:
mydict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
mydict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

In [54]:
mydict.keys()

dict_keys(['a', 'b', 'c', 'd', 'e'])

### values() : 모든 value 조회

In [56]:
mydict.values()

dict_values([100, 200, 300, 400, 500])

### items() : 모든 key, value 조회

- key, value가 튜플로 묶여서 조회됩니다.

In [57]:
mydict.items()

dict_items([('a', 100), ('b', 200), ('c', 300), ('d', 400), ('e', 500)])

### key 값의 존재 유무 확인

In [59]:
'a' in mydict

True

In [60]:
'f' in mydict

False

### 값을 추가하기

- 새로운 key에 값을 대입하여 추가

In [61]:
mydict = dict()
mydict

{}

In [62]:
mydict['apple'] = 123
mydict['apple']

123

In [63]:
mydict[0] = 2
mydict[0]

2

### update() : 다중 업데이트

- 값을 한꺼번에 업데이트 합니다.

In [64]:
mydict = {'파인애플': 1500, '망고': 3500, '배': 1000}
mydict

{'파인애플': 1500, '망고': 3500, '배': 1000}

In [65]:
fruit = {
    '사과': 2000, 
    '딸기': 3000, 
    '수박': 5000, 
}

In [66]:
mydict.update(fruit)
mydict

{'파인애플': 1500, '망고': 3500, '배': 1000, '사과': 2000, '딸기': 3000, '수박': 5000}

### 값 변경

- key 값에 새로운 값(value)를 대입하여 값을 변경할 수 있습니다.

In [67]:
mydict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
mydict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

In [68]:
mydict['a'] = 900

In [69]:
mydict

{'a': 900, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

### 제거하기 / key 제거

In [70]:
mydict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
mydict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

`pop()` 에 key를 지정하여 값을 제거할 수 있습니다. 

제거되는 값의 value를 반환합니다.

In [73]:
mydict.pop('b')

200

In [74]:
mydict

{'c': 300, 'd': 400, 'e': 500}