# 문자열

데이터 분석에 있어서 문자열(텍스트) 데이터의 중요성

- 자연어처리 데이터는 대부분이 텍스트 데이터로 이루어져 있습니다.
- 우리가 흔히 접하는 Excel 혹은 Table 데이터안에도 수많은 텍스트 데이터가 존재합니다.
- 게다가 우리나라는 영어와 더불어 **한글**까지 추가로 처리 할 수 있어야 합니다!!

### 특성

- 문자열 역시 리스트(list), 튜플(tuple)과 마찬가지로 sequence 형 자료구조를 가집니다.
- 문자열은 불변(immutable) 객체입니다.

### 문자열의 생성

파이썬의 문자열은 작은 따옴표(**'**) 나 큰 따옴표(**"**) 모두 구분없이 사용하여 문자열을 생성할 수 있습니다.

작은 따옴표(**'**) 사용

In [1]:
'안녕하세요? 반갑습니다.'

'안녕하세요? 반갑습니다.'

큰 따옴표(**"**) 사용

In [2]:
"안녕하세요? 반갑습니다."

'안녕하세요? 반갑습니다.'

작은 따옴표 3개 혹은 큰 따옴표 3개를 써서 **여러 줄의 문자열을 생성**할 수 있습니다.

In [3]:
sample = '''안녕하세요? 
반가워요
내이름은 
파이썬 입니다.'''

print(sample)

안녕하세요?
반가워요
내이름은
파이썬 입니다.

## 문자열 출력 (포맷팅)

### print() : 출력

In [4]:
print('헬로우 파이썬')

헬로우 파이썬

In [5]:
print('문자열 첫째', '그리고, 둘째')

문자열 첫째 그리고, 둘째

### f 문자열 포맷팅 (python 3.6 이상만 지원)

In [16]:
name = '펭수'
age = 10
print(f'나의 이름은 {name}입니다. 나이는 {age} 살입니다.')

나의 이름은 펭수입니다. 나이는 10 살입니다.

In [17]:
print(f'내년에 저는 {age+1} 살입니다.')

내년에 저는 11 살입니다.

In [18]:
d = {'name':'펭수', 'age':10}

In [19]:
print(f"반가워요. 저는 {d['name']}입니다. 저의 나이는 {d['age']} 살입니다.")

반가워요. 저는 펭수입니다. 저의 나이는 10 살입니다.

## 인덱싱 (indexing)

- 문자열에서 한 개의 글자(char)를 조회하기 위해서는 **[]를 활용한 인덱싱으로 조회**할 수 있습니다.

In [28]:
a = 'Python is my life'
a

'Python is my life'

<div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
<table>
<thead><tr>
<th>P</th>
<th>y</th>
<th>t</th>
<th>h</th>
<th>o</th>
<th>n</th>
<th></th>
<th>i</th>
<th>s</th>
<th></th>
<th>m</th>
<th>y</th>
<th></th>
<th>l</th>
<th>i</th>
<th>f</th>
<th>e</th>
</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
</tr>
<tr>
<td>-17</td>
<td>-16</td>
<td>-15</td>
<td>-14</td>
<td>-13</td>
<td>-12</td>
<td>-11</td>
<td>-10</td>
<td>-9</td>
<td>-8</td>
<td>-7</td>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody>
</table>

</div>

In [29]:
a[0]

'P'

In [30]:
a[-2]

'f'

## 슬라이싱 (Slicing)

- 슬라이싱의 활용: [start:stop:step] 을 명시하여 부분을 추출할 수 있습니다.

In [33]:
a = 'Python is my life'
a

'Python is my life'

<div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
<table>
<thead><tr>
<th>P</th>
<th>y</th>
<th>t</th>
<th>h</th>
<th>o</th>
<th>n</th>
<th></th>
<th>i</th>
<th>s</th>
<th></th>
<th>m</th>
<th>y</th>
<th></th>
<th>l</th>
<th>i</th>
<th>f</th>
<th>e</th>
</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
</tr>
<tr>
<td>-17</td>
<td>-16</td>
<td>-15</td>
<td>-14</td>
<td>-13</td>
<td>-12</td>
<td>-11</td>
<td>-10</td>
<td>-9</td>
<td>-8</td>
<td>-7</td>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody>
</table>

</div>

[:]을 활용하여 전체를 추출할 수 있습니다.

In [34]:
a[:]

'Python is my life'

<div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
<table>
<thead><tr>
<th>P</th>
<th>y</th>
<th>t</th>
<th>h</th>
<th>o</th>
<th>n</th>
<th></th>
<th>i</th>
<th>s</th>
<th></th>
<th>m</th>
<th>y</th>
<th></th>
<th>l</th>
<th>i</th>
<th>f</th>
<th>e</th>
</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
</tr>
<tr>
<td>-17</td>
<td>-16</td>
<td>-15</td>
<td>-14</td>
<td>-13</td>
<td>-12</td>
<td>-11</td>
<td>-10</td>
<td>-9</td>
<td>-8</td>
<td>-7</td>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody>
</table>

</div>

[start:]는 시작 index 부터 끝까지 추출합니다.

In [35]:
a[3:]

'hon is my life'

In [36]:
a[-4:]

'life'

<div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
<table>
<thead><tr>
<th>P</th>
<th>y</th>
<th>t</th>
<th>h</th>
<th>o</th>
<th>n</th>
<th></th>
<th>i</th>
<th>s</th>
<th></th>
<th>m</th>
<th>y</th>
<th></th>
<th>l</th>
<th>i</th>
<th>f</th>
<th>e</th>
</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
</tr>
<tr>
<td>-17</td>
<td>-16</td>
<td>-15</td>
<td>-14</td>
<td>-13</td>
<td>-12</td>
<td>-11</td>
<td>-10</td>
<td>-9</td>
<td>-8</td>
<td>-7</td>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody>
</table>

</div>

[:end]는 처음부터 end 전까지 추출합니다.

In [37]:
a[:6]

'Python'

In [38]:
a[:-3]

'Python is my l'

<div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
<table>
<thead><tr>
<th>P</th>
<th>y</th>
<th>t</th>
<th>h</th>
<th>o</th>
<th>n</th>
<th></th>
<th>i</th>
<th>s</th>
<th></th>
<th>m</th>
<th>y</th>
<th></th>
<th>l</th>
<th>i</th>
<th>f</th>
<th>e</th>
</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
</tr>
<tr>
<td>-17</td>
<td>-16</td>
<td>-15</td>
<td>-14</td>
<td>-13</td>
<td>-12</td>
<td>-11</td>
<td>-10</td>
<td>-9</td>
<td>-8</td>
<td>-7</td>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody>
</table>

</div>

[start:end]는 start부터 end 전까지 추출합니다.

In [39]:
a[3:6]

'hon'

[start:stop:step]에서 step 지정시 step만큼 건너 뛰면서 추출합니다.

In [40]:
a[::2]

'Pto sm ie'

역순으로 출력하기 위해서는 step을 -1로 지정합니다.

In [41]:
a[::-1]

'efil ym si nohtyP'

### 불변(immutable)

- 문자열은 index를 통해 값을 수정 및 변경이 불가합니다.
- 하지만 메서드(method)로 변경할 수 있습니다.

In [44]:
a = 'Python is my life'

index에 값을 할당하여 변경하려는 경우

In [45]:
a[2] = 'Y'

TypeError: 'str' object does not support item assignment

## 문자열의 list, set

### 리스트(list)

- 문자열을 리스트(list)로 타입 변환이 가능합니다.
- 타입 변환시 한 글자를 요소로 갖는 리스트가 생성됩니다.

In [50]:
list('ABCDE')

['A', 'B', 'C', 'D', 'E']

### 세트(set)

- 한 글자를 요소로 갖는 세트가 생성됩니다.
- 세트의 특성상 요소를 생성한 후 중복된 글자는 제거됩니다.

In [51]:
set('AAABBBCCC')

{'A', 'B', 'C'}

중복이 제거된 리스트로 생성하기 위해서는 list로 다시 타입 변환합니다.

In [52]:
list(set('AAABBBCCC'))

['B', 'A', 'C']

## 문자열(텍스트)을 다루는 다양한 기능, 메서드(method)

문자열만 가지고 있는 **고유의 편한 기능**들이 있습니다. 

우리는 이들 중 몇 가지를 배워 앞으로 유용하게 활용할 예정입니다.

### split() : 분리

- split은 문장을 특정 규칙에 의해 쪼개 주는 기능을 합니다.
- 분리한 결과는 list 형식으로 값을 return 받습니다.

In [55]:
a = 'This is a pen'

기본 값으로 **공백**이 지정되어 있습니다. 즉, 공백을 기준으로 분리하여 리스트로 반환합니다.

In [56]:
a.split()

['This', 'is', 'a', 'pen']

기본 값인 **공백**에서 **특정 문자**로 지정할 수 있습니다.

In [57]:
a = 'This-is-a-pen'

In [58]:
a.split('-')

['This', 'is', 'a', 'pen']

**한글**도 동일하게 적용됩니다.

In [59]:
a = '한글은 어떻게 될까요?'

In [60]:
a.split()

['한글은', '어떻게', '될까요?']

### join() : 합치기

- 결합하고자 하는 문자에 .join() 안에 리스트를 지정하여 결합할 수 있습니다.

In [64]:
'-'.join(['010',  '1234', '5678'])

'010-1234-5678'

In [65]:
'-'.join('ABCDE')

'A-B-C-D-E'

### lower(), upper() : 소문자 / 대문자로 만들기

In [68]:
a = 'My name is Teddy'

소문자로 변경

In [69]:
a.lower()

'my name is teddy'

대문자로 변경

In [70]:
a.upper()

'MY NAME IS TEDDY'

한글에는 대소문자 구분이 없습니다.

In [71]:
a = '한글엔 대소문자가 없어요ㅠ'

In [72]:
a.lower()

'한글엔 대소문자가 없어요ㅠ'

In [73]:
a.upper()

'한글엔 대소문자가 없어요ㅠ'

## replace() : 문자열 바꾸기

- 문자열에 **replace(바꿀 대상, 바꾸려는 문자열)** 지정하여 문자열을 변경합니다.
- 결과는 복사본이 만들어져 반환됩니다.

In [79]:
a = '01-sample.png'

In [80]:
a.replace('.png', '.jpg')

'01-sample.jpg'