# 데이터 셋 (Dataset) 다루기

`sklearn.dataset` 안에는 빌트인 (built-in) 데이터 셋들이 존재합니다. 물론 튜토리얼 진행을 위한 수준이므로, 규모가 크지는 않습니다 (Toy Dataset 이라고도 불리웁니다.)

그렇지만, mldata.org 데이터 셋은 조금 더 규모가 큰 데이터 셋을 제공하며, 온라인에서 동적으로 다운로드를 받을 수 있습니다.

이번 튜토리얼에서는 Built-in 데이터 셋을 활용하는 방법에 대해서 알아보도록 하겠습니다.

In [ ]:
import warnings

# 경고 메시지 출력 표기 생략
warnings.filterwarnings('ignore')

## 빌트인 (Built-in) 데이터셋 활용

### 데이터 셋의 종류

- `load_boston`: 보스톤 집값 데이터
- `load_iris`: 아이리스 붓꽃 데이터
- `load_diabetes`: 당뇨병 환자 데이터
- `load_digits`: 손글씨 데이터
- `load_linnerud`: multi-output regression 용 데이터
- `load_wine`: 와인 데이터
- `load_breast_cancer`: 위스콘신 유방암 환자 데이터

### 데이터 셋 조회

빌트인 데이터셋은 `sklearn.utils.Bunch` 라는 자료구조를 활용합니다.

**key-value** 형식으로 구성되어 있으며, 사전(dict)형 타입과 유사한 구조를 가지고 있습니다.

공통 **key**는 다음과 같습니다.

- `data`: 샘플 데이터, Numpy 배열로 이루어져 있습니다.
- `target`: Label 데이터, Numpy 배열로 이루어져 있습니다.
- `feature_names`: Feature 데이터의 이름
- `target_names`: Label 데이터의 이름
- `DESCR`: 데이터 셋의 설명
- `filename`: 데이터 셋의 파일 저장 위치 (csv)

 간단한 실습으로 빌트인 데이터셋의 활용법에 대하여 알아보겠습니다.

### iris 붓꽃 데이터 로드하기

In [3]:
from IPython.display import Image

Image(url='https://user-images.githubusercontent.com/15958325/56006707-f69f3680-5d10-11e9-8609-25ba5034607e.png', width=650)

In [ ]:
# iris 붓꽃 데이터 로드
from sklearn.datasets import load_iris

`load_iris`로 데이터 셋을 불러와서 `iris` 변수에 저장합니다.

In [ ]:
# 코드를 입력해 주세요
iris =

`iris` 데이터셋의 key를 출력합니다.

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])</pre>

## Feature 데이터 (X)

### feature 데이터 값 조회하기

feature data는 `data` 키로 접근하여 가져올 수 있습니다.

`features` 변수에 `data`를 대입해 주세요.

In [ ]:
# 코드를 입력해 주세요
features = 
features[:5]

<p><strong>[출력 결과]</strong></p><pre>array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])</pre>

feature data 에 대한 이름은 `feature_names` 로 가져올 수 있습니다.

iris 데이터의 경우 총 **4개의 feature**를 가지고 있음을 확인할 수 있습니다.

[참고]
- **sepal**: 꽃받침
- **petal**: 꽃잎

`feature_names`변수에 `iris`데이터셋의 `feature_names` 키에 대한 value를 대입하세요.

In [ ]:
# 코드를 입력해 주세요
feature_names = 
feature_names

<p><strong>[출력 결과]</strong></p><pre>['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']</pre>

## Label 데이터 (Y)

label data는 `target` 키로 접근하여 가져올 수 있습니다.

In [ ]:
# 코드를 입력해 주세요
labels = 
labels

<p><strong>[출력 결과]</strong></p><pre>array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])</pre>

feature data와 마찬가지로, label 데이터도 `target_names`라는 키로 target에 대한 클래쓰 이름을 확인해 볼 수 있습니다.

## 데이터 셋을 DataFrame으로 변환

In [ ]:
import pandas as pd

첫번째로 `data`와 `feature_names` 키로 가져온 데이터를 활용하여 데이터 프레임을 만들어 줍니다.

In [ ]:
# 코드를 입력해 주세요
df = 
df.head()

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sepal length (cm)</th>
      <th>sepal width (cm)</th>
      <th>petal length (cm)</th>
      <th>petal width (cm)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5.1</td>
      <td>3.5</td>
      <td>1.4</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4.9</td>
      <td>3.0</td>
      <td>1.4</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4.7</td>
      <td>3.2</td>
      <td>1.3</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4.6</td>
      <td>3.1</td>
      <td>1.5</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5.0</td>
      <td>3.6</td>
      <td>1.4</td>
      <td>0.2</td>
    </tr>
  </tbody>
</table>
</div>

그런 다음 `target` 데이터를 새로운 컬럼을 만들어 추가해 줍니다. 여기서 target 데이터의 column 명 임의로 지정해 주면 됩니다.

In [ ]:
# 코드를 입력해 주세요
df['target'] =

In [ ]:
# 검증코드
df.head()

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sepal length (cm)</th>
      <th>sepal width (cm)</th>
      <th>petal length (cm)</th>
      <th>petal width (cm)</th>
      <th>target</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5.1</td>
      <td>3.5</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4.9</td>
      <td>3.0</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4.7</td>
      <td>3.2</td>
      <td>1.3</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4.6</td>
      <td>3.1</td>
      <td>1.5</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5.0</td>
      <td>3.6</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

## 로드한 DataFrame 시각화

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

Sepal (꽃받침)의 길이 넓이에 따른 꽃의 종류가 어떻게 다르게 나오는지 살펴보겠습니다.

In [ ]:
plt.figure(figsize=(10, 7))
sns.scatterplot(df.iloc[:, 0], df.iloc[:, 1], hue=df['target'], palette='muted')
plt.title('Sepal', fontsize=17)
plt.show()

이번에는, Petal (꽃잎)의 길이 넓이에 따른 꽃의 종류가 어떻게 다르게 나오는지 살펴보겠습니다.

In [ ]:
plt.figure(figsize=(10, 7))
sns.scatterplot(df.iloc[:, 2], df.iloc[:, 3], hue=df['target'], palette='muted')
plt.title('Petal', fontsize=17)
plt.show()

## 데이터 분할 (train_test_split)

기계학습에서 데이터 분할을 중요한 전처리 과정입니다.

`sklearn.model_selection`의 `train_test_split`은 클래스 이름 그대로 **학습과 검증 (혹은 테스트) 셋**을 나누어 주는 역할을 합니다.

학습 (Train) / 검증 (Validation or Test) 세트로 나누며, 검증 세트로 **과대 적합**여부를 모니터링 할 수 있습니다.

또한, 검증 세트를 활용하여 모델의 성능 평가를 진행할 수 있습니다.

**샘플 데이터** 확인

In [ ]:
# 검증코드
df.head()

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sepal length (cm)</th>
      <th>sepal width (cm)</th>
      <th>petal length (cm)</th>
      <th>petal width (cm)</th>
      <th>target</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5.1</td>
      <td>3.5</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4.9</td>
      <td>3.0</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4.7</td>
      <td>3.2</td>
      <td>1.3</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4.6</td>
      <td>3.1</td>
      <td>1.5</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5.0</td>
      <td>3.6</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

feature(x), label(y) 데이터를 분할 합니다.

In [ ]:
from sklearn.model_selection import train_test_split

`target` 변수를 제외한 나머지 컬럼은 `x`변수에 대입합니다.

In [ ]:
# 코드를 입력해 주세요
x = 
x.head()

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sepal length (cm)</th>
      <th>sepal width (cm)</th>
      <th>petal length (cm)</th>
      <th>petal width (cm)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5.1</td>
      <td>3.5</td>
      <td>1.4</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4.9</td>
      <td>3.0</td>
      <td>1.4</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4.7</td>
      <td>3.2</td>
      <td>1.3</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4.6</td>
      <td>3.1</td>
      <td>1.5</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5.0</td>
      <td>3.6</td>
      <td>1.4</td>
      <td>0.2</td>
    </tr>
  </tbody>
</table>
</div>

`y`변수에 `df['target']`을 대입합니다.

In [ ]:
# 코드를 입력해 주세요
y = 
y.head()

<p><strong>[출력 결과]</strong></p><pre>0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64</pre>

**주요 hyperparameter**

* `test_size`: validation set에 할당할 비율 (20% -> 0.2), 기본값 0.25
* `stratify`: 분할된 샘플의 class 갯수가 동일한 비율로 유지
* `random_state`: 랜덤 시드값
* `shuffle`: 셔플 옵션, 기본값 True

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y, test_size=0.2, random_state=123)

원본 **x**의 shape

In [ ]:
x.shape

`x_train`과 `x_test`의 shape 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>((120, 4), (30, 4))</pre>

원본 **y**의 shape

In [ ]:
y.shape

`y_train`과 `y_test`의 shape 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>((120,), (30,))</pre>

## 연습문제

wine 데이터셋을 불러와 로드 하고 데이터셋을 분할 합니다.

In [ ]:
# 와인 데이터 로드
from sklearn.datasets import load_wine

`wine` 변수에 `load_wine()` 결과 대입

In [ ]:
# 코드를 입력해 주세요
wine =

- `df` 변수에 데이터 프레임 생성
- column 지정 및 target 컬럼 생성

In [ ]:
# 코드를 입력해 주세요
df = 

df.head()

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>alcohol</th>
      <th>malic_acid</th>
      <th>ash</th>
      <th>alcalinity_of_ash</th>
      <th>magnesium</th>
      <th>total_phenols</th>
      <th>flavanoids</th>
      <th>nonflavanoid_phenols</th>
      <th>proanthocyanins</th>
      <th>color_intensity</th>
      <th>hue</th>
      <th>od280/od315_of_diluted_wines</th>
      <th>proline</th>
      <th>target</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>14.23</td>
      <td>1.71</td>
      <td>2.43</td>
      <td>15.6</td>
      <td>127.0</td>
      <td>2.80</td>
      <td>3.06</td>
      <td>0.28</td>
      <td>2.29</td>
      <td>5.64</td>
      <td>1.04</td>
      <td>3.92</td>
      <td>1065.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>13.20</td>
      <td>1.78</td>
      <td>2.14</td>
      <td>11.2</td>
      <td>100.0</td>
      <td>2.65</td>
      <td>2.76</td>
      <td>0.26</td>
      <td>1.28</td>
      <td>4.38</td>
      <td>1.05</td>
      <td>3.40</td>
      <td>1050.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13.16</td>
      <td>2.36</td>
      <td>2.67</td>
      <td>18.6</td>
      <td>101.0</td>
      <td>2.80</td>
      <td>3.24</td>
      <td>0.30</td>
      <td>2.81</td>
      <td>5.68</td>
      <td>1.03</td>
      <td>3.17</td>
      <td>1185.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14.37</td>
      <td>1.95</td>
      <td>2.50</td>
      <td>16.8</td>
      <td>113.0</td>
      <td>3.85</td>
      <td>3.49</td>
      <td>0.24</td>
      <td>2.18</td>
      <td>7.80</td>
      <td>0.86</td>
      <td>3.45</td>
      <td>1480.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>13.24</td>
      <td>2.59</td>
      <td>2.87</td>
      <td>21.0</td>
      <td>118.0</td>
      <td>2.80</td>
      <td>2.69</td>
      <td>0.39</td>
      <td>1.82</td>
      <td>4.32</td>
      <td>1.04</td>
      <td>2.93</td>
      <td>735.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

생성한 데이터프레임 shape 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>(178, 14)</pre>

target의 분포 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>1    71
0    59
2    48
Name: target, dtype: int64</pre>

`countplot()` 으로 target의 분포 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre><AxesSubplot:xlabel='target', ylabel='count'></pre>

<img src=""/>

- x_train, x_test, y_train, y_test 에 분할
- test_size=0.2
- random_state=123
- `stratify` 옵션 지정

In [ ]:
# 코드를 입력해 주세요
x_train, x_test, y_train, y_test =

In [ ]:
# 코드검증
x_train.shape, x_test.shape

<p><strong>[출력 결과]</strong></p><pre>((142, 13), (36, 13))</pre>

y_train의 countplot 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre><AxesSubplot:xlabel='target', ylabel='count'></pre>

<img src=""/>

y_test countplot 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre><AxesSubplot:xlabel='target', ylabel='count'></pre>

<img src=""/>