In [ ]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [ ]:
# 타이타닉 데이터셋 로드
df = sns.load_dataset('titanic')
df.head()

## age의 결측치를 채웁니다.

In [ ]:
# 코드를 입력해 주세요

In [ ]:
# 검증코드
df['age'].isnull().sum()

<p><strong>[출력 결과]</strong></p><pre>0</pre>

## Embarked 결측치를 채웁니다.

In [ ]:
# 코드를 입력해 주세요

In [ ]:
# 검증코드
df['embarked'].isnull().sum()

<p><strong>[출력 결과]</strong></p><pre>0</pre>

## sex 컬럼을 encoding 변환하여 남자는 1 여자는 0으로 변환합니다.

In [ ]:
# 코드를 입력해 주세요

In [ ]:
# 검증코드
df['sex']

<p><strong>[출력 결과]</strong></p><pre>0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: sex, Length: 891, dtype: int64</pre>

## embarked 컬럼을 encoding 변환합니다.

apply 를 사용합니다.
- 'S': 0
- 'C': 1
- 'Q': 2

In [ ]:
# 코드를 입력해 주세요

In [ ]:
# 검증코드
df['embarked'].value_counts()

<p><strong>[출력 결과]</strong></p><pre>0    646
1    168
2     77
Name: embarked, dtype: int64</pre>

## features, labels 정의

In [ ]:
features = ['pclass', 'sex', 'sibsp', 'parch', 'fare', 'embarked']
labels = 'survived'

## x, y 데이터 생성

In [ ]:
x = df[features]
y = df[labels]

## 학습 / 검증 데이터셋 분할

In [ ]:
from sklearn.model_selection import train_test_split

- test_size=0.2
- random_state=123
- stratify 옵션 지정

In [ ]:
# 코드를 입력해 주세요

In [ ]:
# 검증코드
x_train.shape, x_test.shape

<p><strong>[출력 결과]</strong></p><pre>((712, 6), (179, 6))</pre>

## KNN 알고리즘을 이용하여 예측

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

- 소수 3째자리까지 출력
- 최적의 K 값 찾기

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>k=1, accuracy: 0.709
k=2, accuracy: 0.737
k=3, accuracy: 0.771
k=4, accuracy: 0.765
k=5, accuracy: 0.754
k=6, accuracy: 0.749
k=7, accuracy: 0.743
k=8, accuracy: 0.726
k=9, accuracy: 0.726
k=10, accuracy: 0.721
</pre>

## 정확도를 더 높일 수 있는 방법을 총 동원하여 80% 이상 정확도에 도전합니다!

### [tip]

- who 컬럼 추가
- StandardScaler() 활용